/* Ciblage agressif des containers et des colonnes pour la hauteur */
[data-testid="stVerticalBlockBorderWrapper"], 
[data-testid="column"] > div {
    min-height: 520px !important; /* On augmente un peu pour tes textes longs */
    display: flex !important;
    flex-direction: column !important;
}

/* Style des cartes */
[data-testid="stVerticalBlockBorderWrapper"] {
    background-color: #ffffff !important;
    border-radius: 20px !important;
    border: 1px solid #e0e6ed !important;
    padding: 25px !important;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.03) !important;
    transition: all 0.4s ease !important;
    justify-content: flex-start !important;
}

/* Effet Hover */
[data-testid="stVerticalBlockBorderWrapper"]:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(119, 158, 203, 0.2) !important;
    border-color: #b3c6ff !important;
}


/* Texte et Titres */
.stMarkdown b, .stMarkdown strong {
    color: #779ecb !important; /* Bleu pastel pour les mots en gras */
}

.stMarkdown p {
    text-align: justify !important;
    font-size: 0.92rem !important;
    line-height: 1.5 !important;
}